* {
    font-family: 'Kanit', sans-serif;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Variables de colores */

:root {
    --primary: #00000c;
    --secundary: #f9f9f9;
    --back: #051b24;
    --greenSecond:#1d4747;
    --gray: #b7b3b4;
    --link: #00a2ff;
}

li {
    list-style: none;
}

header {
    background-color: var(--primary);
    color: var(--secundary);

    width: 100%;
    height: 100px;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr auto;
    align-items: center
}

main {
    width: 100%;

    display: grid;

    /* grid-template-columns: repeat(12,1fr); */
    justify-content: center;
    grid-gap: 8px;

}

.container__tittle {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 120px 1fr;

    align-items: center;

    margin-left: 12px;
}

.container__img {
    width: 100px;
    height: 100px;

}

.container__img img {
    width: 100%;
    height: 100%;
}

.container__nav {
    width: 320px;
    margin-right: 12px;
}

.nav__items {
    display: grid;
    grid-template-columns: repeat(3, auto);

    justify-items: center;
}

.nav__items li {
    padding: 4px;
    border-radius: 5px;
    transition: all .3s;
}

.nav__items li:hover{
    cursor: pointer;
    color: var(--gray);
}

/* Body */

.container__information {
    height: auto;
    width: 80vw;
    margin: 40px 0;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(12,auto);

    justify-content: center;
}

.container__information p:first-child {
    color: var(--back);

    margin-bottom: 20px;

    font-size: 2rem;
}

.information__acercaDe {
    grid-column: 1/13;
}

.information__span {
    color: var(--link);
}

.information__span:hover {
    cursor: pointer;
}